*{
    margin:0;
    padding: 0;
    background-image: url('../src/components/Card/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
